/*keeping the first one for reference*/

/*.node-type-form .file-icon + a[href$=".pdf"] {
    color: red;
    border: solid 1px black;
}*/
.node-type-form {
    .file-icon{
    display:none;
    }
    
    .section-divider {
        border-top:$standard-margin*2 solid $grey--80;    
        .arrow-down{
        border-top: 30px solid $grey--80;
        } 
    }
        
    
}