/*hide breadcrumbs and title on homepage*/
.front{
  h1.page__title {
    position:absolute;
    top:-10000px;
  }
  .breadcrumb {
    display:none;
  }
}
/*banner promotions block*/
#block-views-banner-promotions-block.block  {
 padding:0;
}

.banner-text {
  position:absolute;
  max-width:40%;
}
.banner-image {
  height:400px;
  overflow:hidden;
img {
  width:100%;
  height:auto;
}
}

  /*what DVA does block*/
  .what-dva-does {
    padding:$standard-margin*2;
  }
  .crest {
    text-align:right;
    background:$grey--85;
    padding:$standard-margin*2;
  }
  .about-dva {
    background:$grey--85;
    padding:$standard-margin*2;
    background-image: url("sites/all/themes/custom/dva/images/crest.png");
    background-position: 0.25px;
    background-repeat: no-repeat;
  }
  .contact-us {
    background:$white;
    padding:$standard-margin*2;
  }

  /*Feedback Form*/
  span.uikit-control-input__text.uikit-control-input--full {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    color: #313131;
    line-height: 1.6;
    font-size: 17px;
    margin-left: 35px;
}
  



  

