/*Common styles for  regions, containers, backgrounds*/

.grey--10 {background-color:$grey--10;color:$white} /*#1a1a1a*/
.grey--20 {background-color:$grey--20;color:$white} /*#333333*/
.grey--30 {background-color:$grey--30;color:$white} /*#d4d4d4*/
.grey--40 {background-color:$grey--40;color:$white} /*#666666*/
.grey--50 {background-color:$grey--50;color:$white} /*gray*/
.grey--60 {background-color:$grey--60;} /*#999999*/
.grey--65 {background-color:$grey--65;} /*#a6a6a6*/
.grey--70 {background-color:$grey--70;} /*#b3b3b3*/
.grey--75 {background-color:$grey--75;} /*#bfbfbf*/
.grey--80 {background-color:$grey--80;} /*#cccccc*/
.grey--85 {background-color:$grey--85;} /*#d9d9d9*/
.grey--90 {background-color:$grey--90;} /*#ebebeb*/
.grey--95 {background-color:$grey--95;} /*#f2f2f2*/


/*region backgrounds*/
.navigation {
  background-color:$grey--80;
}
.hero-section {
  background-color:$grey--95;
}

.page-overview {
  background-color:$grey--95;
}
  
.section-divider {
  border-top:1px solid $grey--80;
}
.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}






