/*Common styles for  regions, containers, backgrounds*/

.grey--10 {background-color:$grey--10;color:$white} /*#1a1a1a*/
.grey--20 {background-color:$grey--20;color:$white} /*#333333*/
.grey--30 {background-color:$grey--30;color:$white} /*#d4d4d4*/
.grey--40 {background-color:$grey--40;color:$white} /*#666666*/
.grey--50 {background-color:$grey--50;color:$white} /*gray*/
.grey--60 {background-color:$grey--60;} /*#999999*/
.grey--65 {background-color:$grey--65;} /*#a6a6a6*/
.grey--70 {background-color:$grey--70;} /*#b3b3b3*/
.grey--75 {background-color:$grey--75;} /*#bfbfbf*/
.grey--80 {background-color:$grey--80;} /*#cccccc*/
.grey--85 {background-color:$grey--85;} /*#d9d9d9*/
.grey--90 {background-color:$grey--90;} /*#ebebeb*/
.grey--95 {background-color:$grey--95;} /*#f2f2f2*/


/*region backgrounds*/
#content{
  padding-bottom:2*$standard-margin;
}
.navigation {
  background-color:$grey--80;
}
.hero-section {
  background-color:$grey--95;
}

.page-overview {
  background-color:$grey--95;
  .container {
    padding-bottom:2*$standard-margin;
  }
}
.document-links-section { 
  background-color:$grey--80;
  .container {
    padding-top:2*$standard-margin;
    padding-bottom:2*$standard-margin;
  }
}
.node-type-news-article {
  .section-divider {
    border-top:$standard-margin*2 solid $grey--80;    
    .arrow-down{
      border-top: 30px solid $grey--80;
    } 
  }
  
}
  
.section-divider {
  @include clearfixtext;
}
.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
@mixin full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}






