/*.field-name-field-news-date {
    font-size: em(24px);
    margin-top:2*$standard-margin;
}
.field-name-field-page-overview {
    padding-top:2*$standard-margin;
    padding-bottom:2*$standard-margin;
}*/
.news-date {
    position:absolute;
    text-align:center;
    margin-top:15px;
    .date-num {
        font-size:3em;
        line-height:0.7;
    }
    .date-month{
        text-transform: uppercase;
        font-size: 1.8em;      
    }
}
.news-categories {
    text-align:center;
    ul {
        list-style: none;
        margin-left:0;
        padding-left:0;
    }
    li {
        display:inline-block;
        margin-bottom:$standard-margin !important;
        &:first-child{
            margin-right:5px;
        }
    }
    
    a {
        padding:5px 10px;
        background-color:$white;
        border:1px solid $black;
    }

}
.section-news, .front {
.news-listing { 
    .more-link {
        text-align:right;
        padding-bottom:$standard-margin;
    }  
    .news-title {
        font-size:2em;
        margin-left:5*$standard-margin;
    }
    .summary {
        margin-left:5*$standard-margin;
        padding-top:$standard-margin;
        padding-bottom:$standard-margin;
    }
    .taxonomy {
        margin-left:5*$standard-margin;
        ul {
            list-style: none;
            margin-left:0;
            padding-left:0;
        }
        li {
            display:inline-block;
        }
        a {
            padding:5px 10px;
            background-color:$black;
            color:$white;
        }
    }
    .tags {
        .views-field-title-1 {
         display:none;
        }
        &.col-md-6 {
            width:100% !important;
        }
    }

    .first-news-item, .views-row-first {
        background-color:$grey--80;
        padding-top:2*$standard-margin;
        padding-bottom:2*$standard-margin;
        .news-title, .summary, .taxonomy {
            margin-left:8*$standard-margin;
        }

        .news-date {           
            .date-num {
                font-size:4.3em;
                line-height:0.7;
            }
            .date-month{              
                font-size: 2.5em;      
            }
        }
    }
    

}
}
.home-news-listing.news-listing {
    .first-news-item {
        padding-top:0;
        background-color:none;
    }

}
#block-views-latest-news-block-1 {
    @include container-with-gradient;
}