.field-name-field-news-date {
    font-size: em(24px);
    margin-top:2*$standard-margin;
}
.field-name-field-page-overview {
    padding-top:2*$standard-margin;
    padding-bottom:2*$standard-margin;
}