.views-widget-filter-field_date_served_value {
clear:left;
}



/*AZ TEMP */
.view-services .field-content a{
    font-size:1.2em;
}
.view-services .views-field{
    border-bottom:1px solid $grey--30;
}