
// =========================================================
// BREAKPOINTS
// $small-handheld: 480px;
// $medium-handheld: 650px;
// $large-handheld: 768px;
// $medium-tablet: 960px;
// =========================================================



$breakpoint_desktop: 1280px;
$breakpoint_tablet: 768px;

// =========================================================
// COLOURS
// =========================================================
$white: #ffffff;
$black: #000000;

$grey--10: mix($white, $black, 10) !default;
$grey--20: mix($white, $black, 20) !default;
$grey--30: mix($white, $black, 30) !default;
$grey--40: mix($white, $black, 40) !default;
$grey--50: mix($white, $black, 50) !default;
$grey--60: mix($white, $black, 60) !default;
$grey--65: mix($white, $black, 65) !default;
$grey--70: mix($white, $black, 70) !default;
$grey--75: mix($white, $black, 75) !default;
$grey--80: mix($white, $black, 80) !default;
$grey--85: mix($white, $black, 85) !default;
$grey--90: mix($white, $black, 90) !default;
$grey--95: mix($white, $black, 95) !default;

// =========================================================
// LAYOUT
// =========================================================
$standard-margin: 15px;

@mixin even(){
    &:nth-child(even) {
      @content;
    }
  }
  @mixin odd(){
    &:nth-child(odd) {
      @content;
    }
  }
  @mixin first-child() {
    &:first-of-type {
      @content;
    }
  }
  @mixin last-child() {
    &:last-of-type {
      @content;
    }
  }
// =========================================================
// TYPOGRAPHY
// =========================================================
$base-font-size: 16px;

@function em($px, $base: $base_font_size) {
  @return ($px / $base) * 1em;
}