/*Styles for blocks*/

#block-block-3 {
    background-color:$grey--90;
    &.block {
      padding:0;
    }
  }


#block-block-1{
  &.block {
      padding:0;
  }
}

  /*feature links*/

.album {
  margin-top:30px;
}
.fl-card {
  text-align:center;
}
.card-text {
  min-height:100px;
  font-weight:normal;
  padding: 10px;
}
  