/*Aligning containers and text*/
.box {
    border:1px solid $grey--60;
    min-height:150px !important;
    background:$grey--95;
  }
  .align-h-middle{
    text-align:center;
  }
  .align-h-right {
    text-align:right;
  }
  .align-parent {
    position:relative
  }
  .align-v-middle{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .align-both-middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /* Row with equal height columns*/
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }
  .transparent-bg {
    background:rgba(255,255,255,0.7);
    padding:$standard-margin $standard-margin*2;
    margin:$standard-margin*2;
  }
.container-with-gradient {
  @include breakpoint(tablet) {   
  border-top:1px solid $blue-grey;
  background: $blue-grey; /* Old browsers */
  background: -moz-linear-gradient(left, $blue-grey 0%, $blue-grey 50%, $white 50%, $white 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,$blue-grey 0%,$blue-grey 50%,$white 50%, $white 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  $blue-grey 0%,$blue-grey 50%, $white 50%, $white 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#446785', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
  }
}
@mixin container-with-gradient {
  @include breakpoint(tablet) {   
    border-top:1px solid $blue-grey;
    background: $blue-grey; /* Old browsers */
    background: -moz-linear-gradient(left, $blue-grey 0%, $blue-grey 50%, $white 50%, $white 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,$blue-grey 0%,$blue-grey 50%,$white 50%, $white 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  $blue-grey 0%,$blue-grey 50%, $white 50%, $white 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#446785', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
  }
}
#skip-link {
    position:absolute;
}

/*Tables*/
caption {


}

@mixin no-padding {
  padding:0;
}
@mixin no-margin {
  margin:0;
}


/*Arrows*/
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;  
  border-bottom: 30px solid $grey--95;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;  
  border-top: 30px solid $grey--95;
  margin:auto;
}
@mixin arrow-down {
  width: 0; 
  height: 0; 
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;  
  border-top: 30px solid $grey--95;
  margin:auto;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;  
  border-left: 30px solid $grey--95;
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;   
  border-right:30px solid $grey--95; 
}

//taxonomy tags
.field-type-taxonomy-term-reference {
a {
  text-decoration: none;
  background-color:$black;
  color:$white;
  padding:3px 10px;
}

}
.display_none {
  display:none;
}
sup.beta {
  background:$black;
  color:$white;
  font-size:1.5em;
  top:.6em;
  padding:0px 10px 5px;
  border-radius:10px;
}

.svg-inline--fa.fa-arrow-right {
  margin-right:$standard-margin/3
}