
// Makes an element visually hidden, but accessible.
@mixin element-invisible {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
//expose for screen reader only 
.sr-only{
  @include element-invisible; 
}
//expose for print only 
.print-only{
  display: none;
}
@media print { 
  .print-only{
      display: block;
  } 
}
//Display classes
.block-element{
  display: block;    
}
.inline-element{
  display: inline;    
}
.inline-block-element{
  display: inline-block;    
}
//Clearfix class for clearing floats
@mixin clearfix {
  &:after {
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
  }
}
@mixin clearfixtext {
   display: block;
   clear: both; 
}
.clearfix{
  @include clearfix;
}
