/*- PRIMARY NAVIGATION - */

.navigation{
    background: $grey--10!important;
}
.region-navigation ul#superfish-1 li a{
    color:$grey--85 !important;
}

.region-navigation{
    #block-superfish-1 {
        clear:both;
        ul.menu {
            float:none;
            background-color: $grey--10 !important;
            border-top:1px solid $grey--20;
            width: 100%;        
        }
        li{
            a{
                font-size:0.9em;            
                border-bottom:3px solid transparent !important;
                margin:0 0 -1px 0 !important;       
            }
            a:hover{
                color:$white !important;
                border-color:$mid-blue !important;
            }
        }
        .first {
            min-width:25px;
            a {
                background-image: url("../images/icon-home.png");
                background-size: 80% auto;
                background-repeat:no-repeat;
                background-position:3px 10px;
                text-indent:1000px;
                width:1px !important;
                overflow:hidden;
            }
        }
    }
}
.group-right-column  {
    padding-left:30px;
}

ul {    
    &.menu {        
        li {
            a {
                padding:.25em 1em 0 1em !important;
            }
        }
    }
}

/* aided navigation */

ul.sf-menu-aided-navigation {
    float: left;
    background-color: grey;
    text-align: center;
    width:100%;
    padding-top: 5em !important;
}
.sf-menu-aided-navigation ul.sf-has-clone-parent {
    top: 0em !important;
    height: 100%;
}
.sf-menu-aided-navigation .col-sm-3 {
    border: solid 1px #fff;
    min-height: 200px;
    margin: 5px !important;
    width: 23%;
    /* margin: 0 auto; */
}
.sf-menu-aided-navigation a.sf-depth-1.menuparent.toc-filter-processed.sf-with-ul, 
.sf-menu-aided-navigation a.sf-depth-1.menuparent.sf-with-ul, 
.sf-menu-aided-navigation a.sf-depth-1 {
    width: 25em !important;
    min-height: 200px;
    border: solid 3px #fff !important;
    padding: 15px !important;
    margin: 15px 5px;
}
.sf-menu-aided-navigation a.sf-depth-2{
    width:25em !important;
    min-height:200px;
    padding: 15px !important;
    margin: 15px 5px;
    border: solid 3px #fff !important;
}
.sf-menu-aided-navigation-new{
    width: 100% !important;
    background-color: grey !important;
    height: 100%;
    top: 0em !important;
}

#block-superfish-3 h2.block__title.block-title {
    background: grey;
    margin: 0;
}
.sf-menu-aided-navigation .sf-depth-1, .sf-menu-aided-navigation .sf-depth-2 {
    width: 21%;
    float: none;
}
.sf-menu-aided-navigation ul.menu li a{
    border-bottom:solid 3px #fff;
}
.sf-menu-aided-navigation a.sf-depth-1:hover {
    background: rgba(22, 155, 213, 1) !important;
}