/*Main menu*/
#block-superfish-1 {
    clear:both;
    ul.menu {
        float:none;
        background-color: $grey--85 !important;
        width: 100%;
    }
    .first {
        a {
            background-image: url("../images/icon-home.png");
            background-size: 100% auto;
            background-repeat:no-repeat;
            background-position:0 5px;
            text-indent:1000px;
            width:1px !important;
            overflow:hidden;
        }
    }
}

.group-right-column  {
    padding-left:30px;
}

ul {    
    &.menu {        
        li {
            a {
                padding:.25em 1em 0 1em !important;
            }
        }
    }
}

.sf-menu.menu, .sf-menu.menu ul, .sf-menu.menu li {
    margin: 0;
    background-color: green;
}
.sf-menu-aided-navigation ul.sf-has-clone-parent {
    top: 0em !important;
    height: 100%;
}