/*Main menu*/
#block-superfish-1 {
    clear:both;
    ul.menu {
        float:none;
        background-color: $grey--85 !important;
        width: 100%;
    }
    .first {
        a {
            background-image: url("../images/icon-home.png");
            background-size: 100% auto;
            background-repeat:no-repeat;
            background-position:0 5px;
            text-indent:1000px;
            width:1px !important;
            overflow:hidden;
        }
    }
}

.group-right-column  {
    padding-left:30px;
}

ul {    
    &.menu {        
        li {
            a {
                padding:.25em 1em 0 1em !important;
            }
        }
    }
}

ul.sf-menu-aided-navigation {
    float: left;
    background-color: grey;
    text-align: center;
    width:100%;
    /* margin-bottom: 10px !important; */
}
.sf-menu-aided-navigation ul.sf-has-clone-parent {
    top: 0em !important;
    height: 100%;
}
.sf-menu-aided-navigation .col-sm-3 {
    border: solid 1px #fff;
    min-height: 200px;
    margin: 5px !important;
    width: 23%;
    /* margin: 0 auto; */
}
.sf-menu-aided-navigation a.sf-depth-1.menuparent.toc-filter-processed.sf-with-ul, 
.sf-menu-aided-navigation a.sf-depth-1.menuparent.sf-with-ul, 
.sf-menu-aided-navigation a.sf-depth-1 {
    width: 15em !important;
    min-height: 200px;
    border: solid 1px #fff !important;
    padding: 15px !important;
    margin: 15px 5px;
}
.sf-menu-aided-navigation .sf-depth-2 {
    width: 15em !important;
    height: 200px;
    background-color: grey;
    border: solid 1px #fff;
}
.sf-menu-aided-navigation-new{
    width: 100% !important;
    background-color: grey !important;
    height: 100%;
    top: 0em !important;
    // left: 0em !important;
    // z-index: 500;
    // transform: translate(0,0);
    // -webkit-transform: translate(0,0); /** Safari & Chrome **/
    // -o-transform: translate(0,0); /** Opera **/
    // -moz-transform: translate(0,0); /** Firefox **/
}
// .sf-menu-aided-navigation-object{
//     position: absolute;
//     transition: all 1s ease-in-out;
//     -webkit-transition: all 1s ease-in-out; /** Chrome & Safari **/
//     -moz-transition: all 1s ease-in-out; /** Firefox **/
//     -o-transition: all 1s ease-in-out; /** Opera **/
// }
// // .sf-menu-aided-navigation .sf-hidden{
// //     top:0em !important;
// //     left:-100em !important;
// // }
// .sf-menu li.sfHover > ul{
//     left:50em;
// }