.uikit-body {
    p {
        max-width:none;
    }
}

.uikit-grid {
    .container-fluid {
        padding-left:0;
        padding-right:0;
    }
}
.uikit-page-alerts {
    max-width:none;
}
.uikit-btn {
    padding:.4em .8em;
}
.uikit-footer {
    padding:0;
}
 /* Getting rid of white space introduced by MyService styles underneath page title */
 h1#page-title{
    margin-bottom: 0.5em !important;
}
.accordion-toppanel--wrapper{
    background:none;
    .uikit-accordion__title {
        background:none;
    }
}
ul {
    max-width:none;
}
input[type=text], input[type=name], input[type=date], input[type=tel], input[type=email], input[type=number], input[type=phone], input[type=password], input[type=url], input[type=search], textarea, select, .typeahead {
    max-width:none;
}