/* Home page styles */



/*common */

.uikit-btn, .uikit-btn a{
 color:#ffffff !important;
}
.transparent-bg {
 background:rgba(255,255,255,0.4);
 padding:15px 30px;
 margin:5%;
}
.crest {
 text-align:right;
}
/*hide breadcrumbs and title on homepage*/
.page-node-12 h1.page__title {
 position:absolute;
 top:-10000px;
}
.page-node-12 .breadcrumb {
display:none;
}

/*what DVA does block*/
.what-dva-does {
  padding:30px 15%;
  background:#eeeeee;
  margin-top:50px;
}

/*banner promotions block*/
#block-views-banner-promotions-block.block  {
 padding:0;
}

.banner-text {
 position:absolute;
max-width:60%
}
.banner-image img {
  width:100%;
 height:auto;
}

/*feature links*/
#block-block-3.block  {
 padding:0;
}
.album {
 margin-top:30px;
}
.fl-card {
 text-align:center;
}
.card-text {
min-height:100px;
 font-weight:normal;
 padding: 10px;
}


/*
* Row with equal height columns
* --------------------------------------------------
*/
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }
  
